<h1 class="lead"><%= @user.name %>' Photo Map</h1>


<% if @user == current_user %>
<div>
    <%= link_to("Add picture", new_user_picture_path(current_user))%>
</div>
<% end %>

<% if @user == current_user %>
<div>
    <%= link_to("Delete My account", user_path(@user), method: "delete" ,data: {confirm: "Oh no!! We miss you already!"})%>
</div>
<% end %>

<% @user.pictures.each do |pic| %>
    <div>
        <%= link_to image_tag(pic.url), user_picture_path(@user, pic) %>
        <p class="lead">Location: <%= pic.location %>
        <medium class="text-muted", class="lead">Caption: <%= pic.caption %></small>
        </p>
        

    </div>
    
    
    
<% end %>

