<h1 class="lead"><%= @user.name %>' Photo Map</h1>

<div style="margin:0px 0px 10px 0px;">
<% if @user == current_user %>
    <button type="button" class="btn btn-light" >
        <%= link_to("Add picture", new_user_picture_path(current_user))%>
    </button>
<% end %>

<% if @user == current_user %>
    <button type="button" class="btn btn-light" style="float:right;">
    <%= link_to("Delete My account", user_path(@user), method: "delete" ,data: {confirm: "Oh no!! We miss you already!"})%>
    </button>
<% end %>
</div>

<% @user.pictures.each do |pic| %>
    <div>
        <%= link_to image_tag(pic.url, height: 'auto', width: '100%'), user_picture_path(@user, pic) %>
        <p class="lead">Location: <%= pic.location %>
        <medium class="text-muted", class="lead">Caption: <%= pic.caption %></small>
        </p>
    </div>       
<% end %>


