<h1>Pitcures#new</h1>
<p>Find me in app/views/pitcures/new.html.erb</p>


<%= form_for [current_user, @picture] do |f| %>
    <%= f.text_field(:url, placeholder: "Image URL")%>
    <br>
    <%= f.text_field(:location, placeholder: "Location")%>
    <br>
    <%= f.text_field(:caption, placeholder: "Caption")%>
    <br>
    <%= f.text_field(:body, placeholder: "Memo")%>
    <br>
    <%= f.submit("ADD My Picture")%>
<% end %>