<%= form_for [current_user, @picture], :html => {class: 'new_user form-horizontal'} do |f| %>
    <div class="row"><legend class="col-md-4 col-md-offset-4">Adding New Photo to My Photomap</legend></div>
    <fieldset>
        <div class="form-group">
            <%= f.label :image, 'Image URL*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :url, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :location, 'Location*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :location, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :caption, 'Caption*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :caption, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :body, 'Notes*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :body, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= f.submit 'Add My Picture!', class: 'btn btn-info' %>
            </div>
        </div>
    </fieldset>
    
<% end %>